* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #0A0A0A;
}

.BarraNav {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 99%;
    height: 90px;
    margin: 7.5px;
    padding: 0px 25px 0px 24px;
    border-radius: var(--Rounded, 20px);
    background-color: var(--Primary, #1A1A1A); 
    border: 3px solid #6A0DAD; 
    box-shadow: 0 2px 10px rgba(106, 13, 173, 0.5);
    opacity: 50%;

}

.Logo {
    display: inline-block;
    color: #A020F0; 
    font-family: "Chakra Petch", sans-serif;
    font-size: 25px;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(160, 32, 240, 0.7); 
}

nav {
    display: flex;
    width: 98%;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
}

.secoes {
    font-family: "Chakra Petch", sans-serif;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
}

ul {
    list-style-type: none;
    display: flex;
    width: 604px;
    justify-content: space-between;
    align-items: center;
}

li {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: 10px 10px;
    align-items: flex-start;
    gap: 48px;
    text-align: center;
}

.BarraNav ul li a {
    text-decoration: none;
    font-family: "Chakra Petch", sans-serif;
    text-align: center;
    padding: auto;
    color: #EAEAEA; 
}

.BarraNav ul li a:hover {
    color: #A020F0; 
    text-shadow: 0px 0px 5px rgba(160, 32, 240, 0.7); 
}

.principal { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}

.areasobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 98%;
    align-items: center;
    height: 100vh; 
}

.botao{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color:#0A0A0A;
    border-radius: 5px;
    font-size: 15px;
    font-family:"Chakra Petch", sans-serif;
    color: #EAEAEA;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #6A0DAD;
    transition: 0.3s ease;
    cursor: pointer;
}

.botao:hover{
    transform: scale3d(1.03);
    background-color: #6A0DAD;
    color: #0A0A0A;
    box-shadow: 0 0 25px #6A0DAD;
}

.secSobre { /* MEXERAQUI */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.eu {
    border: 5px solid transparent; 
    margin-top: 25px;
    border-radius: 20%;
    height: 250px;
    width: 250px;
    box-shadow: 0 2px 10px rgba(106, 13, 173, 0.8 ); 
}

.TituloI {
    margin-top: 20px;
    color: #A020F0; 
    font-family: "Chakra Petch", sans-serif;
    font-size: 30px;
}

.InfoSobre {
    text-align: center;
}

p {
    font-family: "Chakra Petch", sans-serif;
    color: #CCCCCC; 
    font-size: 20px;
}

h2 {
    color: #A020F0;
    font-family: "Chakra Petch", sans-serif;
}

hr {
    margin-top: 15px;
    border: none; 
    height: 2px; 
    background-color: #A020F0; 
    margin: 20px 0;
}

h3 {
    color: #CCCCCC; 
    font-family: "Chakra Petch", sans-serif;
}

.formas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
}

.Formações {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    column-gap: 20px;
    height: 100vh;
}

.Formação {
    margin-top: 25px;
    display: flex;
    flex: 1 1 50%;
    flex-direction: column;
    border-radius: var(--Rounded, 20px);
    background-color: var(--Primary, #222222); 
    align-items: center;
    padding: 1rem;
    height: auto;
    width: 98%;
    box-shadow: 0 2px 10px rgba(106, 13, 173, 0.5); 
}


.titulos {
    display: flex;
    color: #A020F0;
    font-family: "Chakra Petch", sans-serif;
    gap: 15px;
}

.Projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    height: 100vh; 
}

.projeto{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    border-radius: var(--Rounded, 20px);
    background-color: var(--Primary, #222222); 
    align-items: center;
    padding: 1rem;
    height: 90%;
    width: 98%;
    box-shadow: 0 2px 10px rgba(106, 13, 173, 0.5); 
}

.tudo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 25px
}

.imas{
    display: flex;
    justify-content: last baseline;
}

.imgpj {
    height: 200px;
    width: auto;
    padding: 20px;
    align-self: baseline;
    border-radius: 30px;
}

.imgjogo {
    height: 200px;
    width: 200px;
    padding: 20px;
    align-self: baseline;
    border-radius: 30px;
}


.pj1 {
    display: flex;
    flex-direction: row;
    text-align: justify;
    align-items: center;
    padding: 15px;
}

.pj2 {
    display: flex;
    flex-direction: row;
    text-align: justify;
    align-items: center;
    padding: 15px;
}

.Skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    height: 100vh; 
}

.comp {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    column-gap: 20px;
}

.hab {
    margin-top: 15px;
    display: flex;
    flex: 1 1 10%;
    flex-direction: column;
    border-radius: var(--Rounded, 20px);
    background-color: var(--Primary, #222222); 
    align-items: center;
    padding: 1rem;
    height: auto;
    width: 98%;
    box-shadow: 0 2px 10px rgba(106, 13, 173, 0.5); 
}

.imgs {
    margin-top: 5px;
    height: 128px;
    width: 128px;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;

}

.btndownload{
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.btndownload:hover{
    transform: scale(1.15);
}

.imgs:hover {
    transform: scale(1.15);
}

.certificados {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    height: 100vh;
}

.Cer{
    margin-top: 15px;
    display: flex;
    flex: 1 1 10%;
    flex-direction: column;
    border-radius: var(--Rounded, 20px);
    background-color: var(--Primary, #222222); 
    align-items: center;
    padding: 1rem;
    height: auto;
    width: 98%;
    box-shadow: 0 2px 10px rgba(106, 13, 173, 0.5); 
}

.certi{
    width: 600px;
    height: 400px;
    margin: 10px;
}

.Contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
    height: 100vh; 
}

.conta {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.cntt {
    margin-top: 5px;
    width: 75px;
    height: 75px;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.cntt:hover {
    transform: scale(1.15);
}

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footerinfo{
    color: #A020F0;
    font-family: "Chakra Petch", sans-serif;
    text-shadow: 0px 0px 10px rgba(160, 32, 240, 0.7)
}

/* Scrollbar */
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background-color: #0A0A0A; 
}

body::-webkit-scrollbar-thumb {
    background-color: #6A0DAD; 
    border-radius: 50px;
    border: 3px solid #A020F0; 
}

/* @media screen and (min-width: 310px) and (max-width:320px) {
    .BarraNav{
        width: auto;
        height: auto;
    }

    .Logo{
        margin-top: 20px;
        font-size: 17px;
    }

    nav{
        width: auto;
    }

    ul{
        display: grid;
        padding: 0px 0px 0px 0px;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 15px;
        width: auto;
    }


    li{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 2px;
        justify-content: center ;
        align-items: center;
    }

    .secoes{
        font-size: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .eu{
        width: 150px;
        height: 150px;
    }

    .InfoSobre{
        text-align: center;
    }

    p{
        font-size: 12px;
    }

    h2{
        font-size: 15px;
    }

    .formas{
        column-gap: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    .Formação{
        margin-top: 6px;
        display: flex;
        width: auto;
        flex: 1 1 100%;
    }

    .titulos, h1{
        font-size: 25px;
    }

    hr{
        margin-top: 25px;
    }

    .Projetos{
        margin-top: 10px;
    }

    .tudo{
        display: flex;
        flex-direction: column;
    }

    .projeto{
        margin-top: 15px;
        width: auto;
        height: auto;
    }

    .imgpj{
        height: 100px;

    }

    .imgjogo{
        height: 100px;
        width: auto;
        padding: 0;
    }

    .hab{
        display: flex;
        flex-wrap: wrap;
    }

    .imgs{
        height: 75px;
        width: 75px;
    }

    .resp{
        font-size: 18px;
    }

    .cntt{
        width: 60px;
        height: 60px;
    }

    .footerinfo{
        font-size: 15px;
    }
} */